/* General */
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #444;
}

h2
{
    color: #444;
    font-size: 55px;
}


/* Header */
header
{
    height: 120px;
    margin-top: 32px;
}

header h1
{
    float: left;
}

header nav
{
    float: right;
    margin-top: 50px;
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}

.orange_dot
{
    color: #Ff7a00;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* Main image */

#main_image
{
    height: 580px;
    background: url('pics/main.jpg') center;
}

#main_image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}

.button1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #Ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.voyage
{
    font-weight: bold;
}